variable "access_key" {
  default = "{{ access_key }}"
}
variable "secret_key" {
  default = "{{ secret_key }}"
}
variable "region" {
  default = "{{ region }}"
}
variable "token" {
  default = "{{ token }}"
}
variable "vpc_id" {
  default = "{{ vpc_id }}"
}
variable "aws_subnet" {
    default = "{{ aws_subnet }}"
}
variable "aws_security_group" {
    default = "{{ terraform_group_sec }}"
}
variable "controller_ssh_key" {
    default = "{{ controller_ssh_key }}"
}
variable "instance_names" {
  default = "{{ instance_names }}"
}
variable "instance_roles" {
  default = "{{ instance_roles }}"
}
