#cloud-config
# Example: 
#
# users:
#   - name: ansible
#     groups: wheel
#     home: /home/ansible
#     shell: /bin/bash
#     sudo: ALL=(ALL) NOPASSWD:ALL
#     ssh-authorized-keys:
#       - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDwKeX5N79wYQ/fTadzr5DlHUKPZZg+NJDFTUxZWqtAyJDaJF9vlUjxbxMwPHvFrRO96A/Kspy58IQHTXzqchMsAf2yJStmWJGfwMbfp9XQhH4p0nKMu/ghnYJVIRE6x5fGhiTPQX0j6KAZ+26KuuSz555z0P9xgilCGhvSgpTQc6QCh2B8m25lXdiaSmuSRjDhA3iYQgm1++i6RYEVm3O8nRJoHIfOB5Cq+qiC4guTzF1/YTMlFfVxJdecwSaKDsZnrrQGRmrPCz76sJqcLpCrzpmiQU3LTTC28koa64YZjh9jnS7/ML6FRxirfZ/zLe0gzbJmicO0oQybRLiEkHVp
######

users:
  - name: ansible
    groups: wheel
    home: /home/ansible
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-authorized-keys:
      - {{ controller_ssh }}
